* {
    padding: 0;
    margin: 0;
}

.header1 {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding-top: 30px;
    padding-bottom: 90px;
}

.find {
    display: flex;
    gap: 3px;
    align-items: center;
}

.fa-search {
    background-color: #198859;
    padding: 5px;
    border-radius: 2px;
}

.sort {
    display: flex;
    flex-direction: column;
    align-items: center;
}

#btn {
    background-color: #ed1c64;
    height: 40px;
    width: 40px;
    border-radius: 20px;
    border: none;
}

.filter {
    display: flex;
    align-items: center;
    gap: 3px;
}

.deleteAl,
#showall,
#back {
    padding: 5px;
    border-radius: 10px;

}

.inputText {
    padding: 5px;
}

header {
    background-color: #2b2549;

}

i {
    cursor: pointer;
}

.totalproducts p {
    color: white;
}

table.list {
    text-align: center;
    width: 100%;
}

td {
    border: 1px solid rgb(204, 200, 200);
    text-align: left;
    padding: 20px 15px;
}

/* tr:nth-child(even) {
    background-color: rgb(204, 200, 200);
}

td:nth-child(even) {
    background-color: rgb(204, 200, 200);
    opacity: .5;

} */
tr:nth-child(even) {
    background-color: #eaeaea;
    color: black;
}

td:nth-child(even) {
    background-color: #f7f7f7;
    opacity: 1;
    

}

.c12 {
    background-color: #74c0fc;

    z-index: -1;

}

thead {
    background-color: #f34136;
}

tbody {
    background-color: aliceblue;
}
#msg{
    color: red;
}

#btn {
    position: absolute;
    bottom: 10%;
}

.totalproducts {
    display: flex;
    gap: 2px;
}

button {
    cursor: pointer;
}

.pagination-container {
    position: absolute;
    bottom: 10%;
    right: 50%;
}

.hide1 {
    width: 100%;
}

#form1 {
    padding: 5px;
    display: flex;
    flex-direction: column;
    gap: 4px;
}

#form1 div {
    display: flex;
    flex-direction: column;
    gap: 4px;
}

#form1 div input,#form1 div button {
    border: 1px solid grey;
    min-height: 28px;
    max-width: 250px;
}

#form1 div select {
    border: 1px solid grey;
    min-height: 28px;
    max-width: 250px;
}
#msg1{
    color: red;
}

.jj {
    padding-top: 8px;
}
.container {
    
    padding-left: 15px;
    padding-right: 15px;
    margin-left: auto;
    margin-right: auto;
}

@media only screen and (min-width:1200px) {
    .container {
        width: 1170px;
        padding-left: 15px;
        padding-right: 15px;
        margin-left: auto;
        margin-right: auto;
    }
}